.bannerText h1 span,
.bannerText .mbnt:hover,
.da-slide h2 span,
.da-slide .da-link:hover,
.blog p a {
	color:#2ecc71;
}
.da-slide .da-link:hover,
.bannerText .mbnt:hover,
.expertiesico span.ico{
	border-color:#2ecc71;
}
.expertiesico span.ico {
	background-color:#2ecc71;
}
.isStuck,
.aboutus .btn-primary:hover,
.skillset,
.experdate,
.contact,
.conForm .submitBnt,
.experdate,
.teammember,
.worklogo li:hover .memberdesc,
ol.flex-control-paging li a.flex-active,
.socialshare a{
	background:#2ecc71;
}
.heading h2 {
	border-bottom-color:#2ecc71;
}
