==
<div class="banner row" id="banner">
        <div class="bannerText">
        <span class="bannerLogo">
          <img src="{{ 'assets/images/mbtc_logo2.svg'|theme }}" alt="Melbourne Bitcoin Technology Centre">
        </span>
        <h3>Melbourne Bitcoin Technology Centre</h3>
        <h1>Bitcoin <span>Co-Working</span></h1>
        <h3>Startup + hacker space, Melbourne</h3>
        <p>Building the Bitcoin ecosystem with love, in Melbourne, Australia</p>
        <a href="#contactDetails" class="mbnt">Join us</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadd slides-container" style="height:100%"> 
        <!--background slide show start-->
        <div class="slide"> 
          <img src="{{ 'assets/images/header-image/header_1920_1080.png'|theme }}" alt="image01"> </div>
        <!--background slide show end--> 
      </div>
    </div>