description = "List of MBTC member projects"
==
<section class="protfolio" id="ourwork">
  <div class="container">
    <div class="heading">
      <h2>Member <span>Projects</span></h2>
      <h3>The strength of our communicity is built on the diversity of our members' projects.</h3>
      
    </div>
  </div>
  <div class="row">
    <div class="portfolioFilter">
      <ul>
        <li><a href="#" data-filter="*" class="current">All</a></li>
        <li><a href="#" data-filter=".does_trading">Trading</a></li>
        <li><a href="#" data-filter=".does_apps">Apps</a></li>
        <li><a href="#" data-filter=".does_hardware">Hardware</a></li>
        <li><a href="#" data-filter=".does_media">Media</a></li>
      </ul>
    </div>
    <ul class="portfolioContainer row">
      
      <li class="does_media col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="{{ 'assets/images/projects/big-images/bitcoin188_screenshot.png'|theme }}" title="Bitcoin188" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="http://www.bitcoin188.com" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="{{ 'assets/images/projects/thumb-images/bitcoin188.png'|theme }}" alt="" ></div>
      </li>

      <li class="does_hardware does_trading col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="{{ 'assets/images/projects/big-images/millennius_screenshot.png'|theme }}" title="millennius.com" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="http://www.millennius.com" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="{{ 'assets/images/projects/thumb-images/millennius.png'|theme }}" alt="" > </div>
      </li>

<!--       <li class="does_trading does_apps does_media col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/8.jpg" title="Project Title8" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project8" alt="" > </div>
      </li> -->

    </ul>
  </div>
</section>