==
<section class="myexperties" id="myexperties">
    <div class="container">
        <div class="heading">
        <h2>Our <span>Focus</span></h2>
        <h3>The Bitcoin ecosystem is in its infancy and is fertile for innovation and experimentation.
        <br> There are emerging spaces for focused businesses and projects to further drive the uptake and availability of access to technologies leveraging the blockchain.
        <br> We aim to foster and support this activity through the creation of a community of driven and passionate advocates for Bitcoin and the opportunities it affords into the future.
        </h3>        
      </div>
        
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-btc fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Build</h4>
                <p>If you have a project in the Bitcoin space there is no better place to build out your MVP than right here. If you have the passion and the drive to create a unique and amazing Bitcoin connected product, project or service then this home is made for you.</p>
            </div>
        </div>
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-flask fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Test</h4>
                <p>With a peer-group of technology, communications and market experts your new home gives you direct access to some of the best people and networks in the industry.</p>
            </div>
        </div>
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-rocket fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Launch</h4>
                <p>Taking your idea to market is a huge challange, but every peer in the space knows and understands that journey and want to help you on your way. If you need the backing and the resources to change the world there is no better place to launch than Bitcoin Co-Working Melbourne</p>
            </div>
        </div>
    </div>
  </section>