description = "List of MBTC members"
==
<section class="experience" id="experience">
    <div class="container">
      <div class="heading">
        <h2>Working <span>Here</span></h2>
        <h3>Some of our community members.</h3>
      </div>
      <div class="row media">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate"><img src="{{ 'assets/images/people/members/pierre_boutros_pic.jpg'|theme }}"></div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Pierre Boutros</h4>
                    <h5>CEO, Millennius</h5>
                    <p>“We have been accepting Bitcoing at Millenius since 2013.”</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>David Fitzgard</h4>
                    <h5>Systems Designer</h5>
                    <p>Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt ipsum.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row media">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Max Mendelle</h4>
                    <h5>Bictcoin Kanagaroo</h5>
                    <p>Cras dictum tellus dui, vitae sollicitudin ipsum.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Jenny McFinney</h4>
                    <h5>CEO, BitCakesr</h5>
                    <p>Cras dictum vitae tellus dui, vitae.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>