==
<section class="skillset">
    <div class="container">
      <div class="row">
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/kmatheson_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Community Lead</h3>
                <p>Kyle Matheson</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/acheng_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Events Co-ordinator</h3>
                <p>April Cheng</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/jsmith_pic.png'|theme }}" class="img-circle" alt="">
                <h3>IT &amp; System Developer</h3>
                <p>Julian Smith</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/proussakis_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Communication Manager</h3>
                <p>Pantelis Roussakis</p>
            </div>
        </div>
    </div>
  </section>