description = "Default layout"
==
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Metas Page details-->
<title>Bitcoin Co-Working Melbourne - {{ this.page.title }}</title>
<meta name="description" content="Onepage Multipurpose Bootstrap HTML Template">
<meta name="author" content="Web Deli™">
<!-- Mobile Specific Metas-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--main style-->
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/bootstrap.css'|theme }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/main.css'|theme }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/skins/bitcoin.css'|theme }}">

<!--google font style-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--font-family: 'Metrophobic', serif;-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--font-family: 'Open Sans', sans-serif;-->
<!-- font icon css style-->
<link rel="stylesheet" href="{{ 'assets/css/font-awesome.css'|theme }}">
</head>
<body onLoad="load()" onUnload="GUnload()">
<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>
<!--wrapper start-->
<div class="wrapper" id="wrapper">

<!--Header start -->
<header>
    
    <!--fav & touch icon start-->
    {% partial "fav_and_touch_icons" %}
    <!--fav & touch icon end--> 

    <!--banner start-->
    {% partial "banner_area" %}
    <!--banner end--> 
    
    <!--menu start-->
    {% partial "menu_top" %}
    <!--menu end--> 
  </header>
  <!--Header end -->
  
 <!--about us start-->
  <section class="aboutus" id="aboutus">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="heading">
        <h2>About <span>US</span></h2>
        <h3>co-working /ˈkəʊwəːkɪŋ/ [noun]: The use of an office or other working environment by people who are self-employed or working for different employers, typically so as to share equipment, ideas, and knowledge.</p>
        <p><em>"The whole idea of co-working is to bring incredibly bright, creative people together and let the ideas collide"</em></p>
        </h3>        
      </div>
      </div> 
       </div> 
      <div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media">
      <img src="{{ 'assets/images/btc_logo.png'|theme }}" class="img-circle" alt=""></div>
        <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
          <h3>Co-Working</h3>
            <h4>Design, Develop & Share Ideas</h4>
            <p>Bitcoin Co-Working is the premiere collaboration, development and cultural hub for Bitcoin related start-up and projects in Melbourne - Australia.</p>
<p>We bring together a unique mix of projects and people building the digital economy and the future of money.</p>
<p><a role="button" class="btn btn-primary btn-lg">Download Brochure</a></p>
        </div>
        
      </div>     
    </div>    
  </section>
  
  <!--Skillset start -->
  {% partial "our_team" %}
  <!--Skillset end -->
  
  <!--My Experties start -->
  {% partial "our_focus" %}
  <!--My Experties end -->
  
  <!--about us end--> 
  
  <!--portfolio start-->
  {% partial "member_projects" %}
  <!--portfolio end--> 
  
   <!--work experience start-->
  {% partial "our_members" %}
  <!--work experience end--> 
  
  <!--contact start-->
  {% partial "contact_section" %}
  <!--contact end-->

  <!--contact form start-->
  {% partial "contact_form" %}
  <!--contact form end--> 

  <!--footer start-->
  <section class="footer" id="footer">
    <div class="container bottom_container">
      <ul>
        <li><a href="https://twitter.com/mbtcentre" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
        <li><a href="https://www.facebook.com/pages/Melbourne-Bitcoin-Technology-Centre/724070317670942" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="http://www.linkedin.com/company/bitcoin-co-working-space" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
        <li><a href="https://github.com/mbtcentre" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
        
      </ul>
      <p>© 2014 Bitcoin Co-Working Melbourne. All Rights Reserved.<br>
        Site by <a href="http://www.webdeli.com.au">Web Deli™</a></p>
    </div>
    <p class="text-center"><a href="#wrapper" class="gototop"><i class="fa fa-chevron-up fa-2x"></i></a></p>
  </section>
  <!--footer end-->     
  </div>
<!--wrapper end--> 

<!--modernizr js--> 
<script type="text/javascript" src="{{ 'assets/js/modernizr.custom.26633.js'|theme }}"></script> 
<!--jquary min js--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.min.js'|theme }}"></script> 
<script src="{{ 'assets/js/bootstrap.js'|theme }}"></script> 

<!--for placeholder jquery--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.placeholder.js'|theme }}"></script> 

<!--for header jquery--> 
<script type="text/javascript" src="{{ 'assets/js/stickUp.js'|theme }}"></script> 
<script src="{{ 'assets/js/jquery.superslides.js'|theme }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
  $('.navbar-wrapper').stickUp({
    parts: {
      0: 'banner',
      1: 'aboutus',
      2: 'ourwork',
      3: 'experience',
      4: 'contact'
    },
    itemClass: 'menuItem',
    itemHover: 'active',
    topMargin: 'auto'
    });
  });

});
</script>
<script>
  $('#banner').superslides({
    animation: 'fade',
    play: false
  });
</script>  

<!--for portfolio jquery--> 
<script src="{{ 'assets/js/jquery.isotope.js'|theme }}" type="text/javascript"></script> 
<link type="text/css" rel="stylesheet" id="theme" href="{{ 'assets/css/jquery-ui-1.8.16.custom.css'|theme }}">
<link type="text/css" rel="stylesheet" href="{{ 'assets/css/lightbox.min.css'|theme }}">
<script type="text/javascript" src="{{ 'assets/js/jquery.ui.widget.min.js'|theme }}"></script> 
<script type="text/javascript" src="{{ 'assets/js/jquery.ui.rlightbox.js'|theme }}"></script> 

<!--contact form js--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.contact.js'|theme }}"></script> 
<script src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    var map;

    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(-37.817682, 144.957595), 15);
        document.getElementById("map").checked = true;
        toggleZoom(false);
      }
    }

    function toggleZoom(isChecked) {
      if (isChecked) {
        map.enableScrollWheelZoom();
      } else {
        map.disableScrollWheelZoom();
      }
    }

    //]]>
</script>

<!--about jquery--> 
<script src="{{ 'assets/js/jquery.classyloader.min.js'|theme }}"></script>
<script defer src="{{ 'assets/js/jquery.flexslider.js'|theme }}"></script> 

<script src="{{ 'assets/js/jquery.easing.js'|theme }}"></script> 
<script src="{{ 'assets/js/jquery.mousewheel.js'|theme }}"></script> 
<script defer src="{{ 'assets/js/slideroption.js'|theme }}"></script> 

<script type="text/javascript" src="switcher/js/jquery.cookie.js"></script> <!-- jQuery cookie --> 

<!--for theme custom jquery--> 
<script src="{{ 'assets/js/custom.js'|theme }}"></script>

</body>
</html>