description = "Default layout"
==
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Metas Page details-->
<title>Bitcoin Co-Working Melbourne - {{ this.page.title }}</title>
<meta name="description" content="Onepage Multipurpose Bootstrap HTML Template">
<meta name="author" content="Web Deli™">
<!-- Mobile Specific Metas-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--main style-->
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/bootstrap.css'|theme }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/main.css'|theme }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/skin/bitcoin.css'|theme }}">

<!--google font style-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--font-family: 'Metrophobic', serif;-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--font-family: 'Open Sans', sans-serif;-->
<!-- font icon css style-->
<link rel="stylesheet" href="{{ 'assets/css/font-awesome.css'|theme }}">
</head>
<body onLoad="load()" onUnload="GUnload()">
<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>
<!--wrapper start-->
<div class="wrapper" id="wrapper">

<!--Header start -->
<header>
    <!--banner start-->
    <div class="banner row" id="banner">
        <div class="bannerText">
        <span class="bannerLogo">
          <img src="{{ 'assets/images/mbtc_logo.svg'|theme }}" alt="Melbourne Bitcoin Technology Centre">
        </span>
        <h3>Melbourne Bitcoin Technology Centre</h3>
        <h1>Bitcoin <span>Co-Working</span></h1>
        <h3>Startup + hacker space, Melbourne</h3>
        <p>Building the Bitcoin ecosystem with love, in Melbourne, Australia</p>
        <a href="#contactDetails" class="mbnt">Join us</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadd slides-container" style="height:100%"> 
        <!--background slide show start-->
        <div class="slide"> 
          <img src="{{ 'assets/images/header-image/header_1920_1080.png'|theme }}" alt="image01"> </div>
        <!--background slide show end--> 
      </div>
    </div>
    <!--banner end--> 
    
    <!--menu start-->
    <div class="menu">
      <div class="navbar-wrapper">
        <div class="container">
          <div class="navwrapper">
            <div class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <!--<div class="logo">logo</div> -->
                <div class="navArea">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <!-- <a class="navbar-brand" href="#">Menu</a>  --></div>
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="menuItem active"><a href="#wrapper">Home</a></li>
                        <li class="menuItem"><a href="#aboutus">About Us</a></li>
                        <li class="menuItem"><a href="#ourwork">Members</a></li>
                        <li class="menuItem"><a href="#experience">Working Here</a></li>
                        <li class="menuItem"><a href="#contact">Contact</a></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <!--menu end--> 
  </header>
  <!--Header end -->
  
 <!--about us start-->
  <section class="aboutus" id="aboutus">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="heading">
        <h2>About <span>US</span></h2>
        <h3>co-working /ˈkəʊwəːkɪŋ/ [noun]: The use of an office or other working environment by people who are self-employed or working for different employers, typically so as to share equipment, ideas, and knowledge.</p>
        <p><em>"The whole idea of co-working is to bring incredibly bright, creative people together and let the ideas collide"</em></p>
        </h3>        
      </div>
      </div> 
       </div> 
      <div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media">
      <img src="{{ 'assets/images/btc_logo.png'|theme }}" class="img-circle" alt=""></div>
        <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
          <h3>Co-Working</h3>
            <h4>Design, Develop &amp; Share Ideas</h4>
            <p>Bitcoin Co-Working is the premiere collaboration, development and cultural hub for Bitcoin related start-up and projects in Melbourne - Australia.</p>
<p>We bring together a unique mix of projects and people building the digital economy and the future of money.</p>
<p><a role="button" class="btn btn-primary btn-lg">Download Brochure</a></p>
        </div>
        
      </div>     
    </div>    
  </section>
  <!--Skillset start -->
  <section class="skillset">
    <div class="container">
      <div class="row">
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/kmatheson_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Community Lead</h3>
                <p>Kyle Matheson</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/acheng_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Events Co-ordinator</h3>
                <p>April Cheng</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/jsmith_pic.png'|theme }}" class="img-circle" alt="">
                <h3>IT System &amp; Support</h3>
                <p>Julian Smith</p>
            </div>
            <div class="skills col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <img src="{{ 'assets/images/people/proussakis_pic.png'|theme }}" class="img-circle" alt="">
                <h3>Communication Manager</h3>
                <p>Pantelis Roussakis</p>
            </div>
        </div>
    </div>
  </section>
  <!--Skillset end -->
  <!--My Experties start -->
  <section class="myexperties" id="myexperties">
    <div class="container">
        <div class="heading">
        <h2>Our <span>Focus</span></h2>
        <h3>The Bitcoin ecosystem is in its infancy and is fertile for innvoation and experimentation.
        <br> There are emmerging spaces for focused busniesses and projects to further drive the uptake and availaibility of access to technologies leveraging the blockchain.
        <br> We aim to foster and support this activity through the creation of a community of driven and passionate advocates for Bitcoin and the opportunities it affords into the future.
        </h3>        
      </div>
        
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-btc fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Build</h4>
                <p>If you have a project in the Bitcoin space there is no better place to build out your MVP than right here. If you have the passion and the drive to create a unique and amazing Bitcoin connected product, project or service then this home is made for you.</p>
            </div>
        </div>
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-flask fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Test</h4>
                <p>With a peer-group of technology, communications and market experts your new home gives you direct access to some of the best people and networks in the industry.</p>
            </div>
        </div>
        <div class="row media">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="expertiesico">
                  <span class="ico"><i class="fa fa-rocket fa-5x"></i></span>
                </div>
            </div>
          <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <h4>Launch</h4>
                <p>Taking your idea to market is a huge challange, but every peer in the space knows and understands that journey and want to help you on your way. If you need the backing and the resources to change the world there is no better place to launch than Bitcoin Co-Working Melbourne</p>
            </div>
        </div>
    </div>
  </section>
  <!--My Experties end -->
  <!--about us end--> 
  
<!--portfolio start-->
  <section class="protfolio" id="ourwork">
    <div class="container">
        <div class="heading">
            <h2>Member <span>Projects</span></h2>
            <h3>The strength of our communicity is built on the diversity of our members' projects.</h3>
            
        </div>
    </div>
    <div class="row">
      <div class="portfolioFilter">
        <ul>
          <li><a href="#" data-filter="*" class="current">All</a></li>
          <li><a href="#" data-filter=".branding">Trading</a></li>
          <li><a href="#" data-filter=".webdesign">Apps</a></li>
          <li><a href="#" data-filter=".wordpress">Hardware</a></li>
          <li><a href="#" data-filter=".photography">Media</a></li>
        </ul>
      </div>
     <ul class="portfolioContainer row">
      <li class="branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/1.jpg" title="Project Title2" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a></span> </span> <img src="http://placehold.it/387x290&text=project1" alt="" > </div>
        </li>
        <li class="branding wordpress photography col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/2.jpg" title="Project Title2" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project2" alt="" > </div>
        </li>
        <li class="wordpress photography col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/3.jpg" title="Project Title3" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project3" alt="" > </div>
        </li>
        <li class="webdesign wordpress col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/4.jpg" title="Project Title4" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project4" alt="" > </div>
        </li>
        <li class="wordpress branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="{{ 'assets/images/projects/big-images/5.png'|theme }}" title="millennius.com" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="http://www.millennius.com" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="{{ 'assets/images/projects/thumb-images/5.png'|theme }}" alt="" > </div>
        </li>
        <li class="branding webdesign photography col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/6.jpg" title="Project Title6" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project6" alt="" > </div>
        </li>
        <li class="wordpress branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/7.jpg" title="Project Title7" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project7" alt="" > </div>
        </li>
        <li class="branding webdesign photography col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/projects/big-images/8.jpg" title="Project Title8" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/387x290&text=project8" alt="" > </div>
        </li>
      </ul>
    </div>
  </section>
  <!--portfolio end--> 
  
   <!--work experience start-->
  <section class="experience" id="experience">
    <div class="container">
      <div class="heading">
        <h2>Working <span>Here</span></h2>
        <h3>Some of our community members.</h3>
      </div>
      <div class="row media">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate"><img src="{{ 'assets/images/people/members/pierre_boutros_pic.jpg'|theme }}"></div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Pierre Boutros</h4>
                    <h5>CEO, Millennius</h5>
                    <p>&ldquo;We have been accepting Bitcoing at Millenius since 2013.&rdquo;</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>David Fitzgard</h4>
                    <h5>Systems Designer</h5>
                    <p>Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt ipsum.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row media">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Max Mendelle</h4>
                    <h5>Bictcoin Kanagaroo</h5>
                    <p>Cras dictum tellus dui, vitae sollicitudin ipsum.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="experdate">Pic</div>
                </div>
              <div class="experdesc col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <h4>Jenny McFinney</h4>
                    <h5>CEO, BitCakesr</h5>
                    <p>Cras dictum vitae tellus dui, vitae.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--work experience end--> 
  
  <!--contact start-->
  <section class="contact" id="contact">
    <div class="container">
      <div class="heading">
        <h2>Get <span>In Touch</span></h2>
        <h3>If you would like to get in touch please reach out and visit us.</h3>       
      </div>
    </div>
    <!--google map start-->
    <div class="row mapArea">
     <div id="map" style="width: 100%; height: 100%"></div>
    </div> 
    <!--google map end--> 
  </section>
  <section class="contactDetails" id="contactDetails">
    <div class="container"> 
      <!--contact form start-->
      <div class="row media">
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3>Contact Address</h3>
          <p>Bitcoin Co-Working Melbourne</p>
          <p>Upper Floor, 89-91 City Road</p>
          <p>Southbank, Vic, Australia</p>

      <h3>Contact Details</h3>
            <p>1300 88 38 48
hello@coworking.biz</p>
         </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 conForm">
        <div id="message"></div>
        <form method="post" action="php/contact.php" name="cform" id="cform">
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" placeholder="Your name" >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 noMarr" placeholder="Your email" >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your message"></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send message">
          <div id="simple-msg"></div>
        </form>
      </div>
      </div>
      <!--contact form end--> 
    </div>
  </section>  
  <!--contact end--> 
  
  <!--footer start-->
  <section class="footer" id="footer">
    <div class="container bottom_container">
      <ul>
        <li><a href="https://twitter.com/mbtcentre" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
        <li><a href="https://www.facebook.com/pages/Melbourne-Bitcoin-Technology-Centre/724070317670942" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
        <li><a href="https://github.com/mbtcentre" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
        
      </ul>
      <p>&copy; 2014 Bitcoin Co-Working Melbourne. All Rights Reserved.<br>
        Site by <a href="http://www.webdeli.com.au">Web Deli&#8482;</a></p>
    </div>
    <p class="text-center"><a href="#wrapper" class="gototop"><i class="fa fa-chevron-up fa-2x"></i></a></p>
  </section>
  <!--footer end-->     
  </div>
<!--wrapper end--> 

<!--modernizr js--> 
<script type="text/javascript" src="{{ 'assets/js/modernizr.custom.26633.js'|theme }}"></script> 
<!--jquary min js--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.min.js'|theme }}"></script> 
<script src="{{ 'assets/js/bootstrap.js'|theme }}"></script> 

<!--for placeholder jquery--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.placeholder.js'|theme }}"></script> 

<!--for header jquery--> 
<script type="text/javascript" src="{{ 'assets/js/stickUp.js'|theme }}"></script> 
<script src="{{ 'assets/js/jquery.superslides.js'|theme }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
  $('.navbar-wrapper').stickUp({
    parts: {
      0: 'banner',
      1: 'aboutus',
      2: 'ourwork',
      3: 'experience',
      4: 'contact'
    },
    itemClass: 'menuItem',
    itemHover: 'active',
    topMargin: 'auto'
    });
  });

});
</script>
<script>
  $('#banner').superslides({
    animation: 'fade',
    play: false
  });
</script>  

<!--for portfolio jquery--> 
<script src="{{ 'assets/js/jquery.isotope.js'|theme }}" type="text/javascript"></script> 
<link type="text/css" rel="stylesheet" id="theme" href="{{ 'assets/css/jquery-ui-1.8.16.custom.css'|theme }}">
<link type="text/css" rel="stylesheet" href="{{ 'assets/css/lightbox.min.css'|theme }}">
<script type="text/javascript" src="{{ 'assets/js/jquery.ui.widget.min.js'|theme }}"></script> 
<script type="text/javascript" src="{{ 'assets/js/jquery.ui.rlightbox.js'|theme }}"></script> 

<!--contact form js--> 
<script type="text/javascript" src="{{ 'assets/js/jquery.contact.js'|theme }}"></script> 
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    var map;

    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(-37.817682, 144.957595), 15);
        document.getElementById("map").checked = true;
        toggleZoom(false);
      }
    }

    function toggleZoom(isChecked) {
      if (isChecked) {
        map.enableScrollWheelZoom();
      } else {
        map.disableScrollWheelZoom();
      }
    }

    //]]>
</script>

<!--about jquery--> 
<script src="{{ 'assets/js/jquery.classyloader.min.js'|theme }}"></script>
<script defer src="{{ 'assets/js/jquery.flexslider.js'|theme }}"></script> 

<script src="{{ 'assets/js/jquery.easing.js'|theme }}"></script> 
<script src="{{ 'assets/js/jquery.mousewheel.js'|theme }}"></script> 
<script defer src="{{ 'assets/js/slideroption.js'|theme }}"></script> 

<script type="text/javascript" src="switcher/js/jquery.cookie.js"></script> <!-- jQuery cookie --> 

<!--for theme custom jquery--> 
<script src="{{ 'assets/js/custom.js'|theme }}"></script>

</body>
</html>
